
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
 <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <h4>LinkPortal <img src="~/images/logo-icon.png" alt=""></h4>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
                <li><a href="/AnaSayfa/Index">Ana Sayfa</a></li>
                <li><a href="/AnaSayfa/ProdLink">ProdLink</a></li>
                <li><a href="/AnaSayfa/PreProdLink">PreProdLink</a></li>
                <li><a href="/AnaSayfa/TestLink">TestLink</a></li>
                
                <li class="scroll-to-section"><div class="main-blue-button"><a href="#contact">İsteklerini Bildir</a></div></li>
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->